

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .searchBtn{
    outline: 1px solid  rgb(128,100,162);
    border: none;
    background-color: rgb(128,100,162);
    text-align: center;
    width: 50px;
    height:40px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

  }
  
  .navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 15px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  